{
	default_sni {$CADDY_DEFAULT_SNI:localhost}
}

{$CADDY_SITE_ADDRESS:https://localhost:8443} {
	tls internal

	@socket path /socket.io/*
	handle @socket {
		reverse_proxy realtime:3001 {
			header_up -CF-Connecting-IP
			header_up -X-Real-IP
		}
	}

	reverse_proxy app:3000 {
		header_up -CF-Connecting-IP
		header_up -X-Real-IP
	}
}
